{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Episode Summaries</h1>
        {% if summaries %}
            <ul class="list-group">
                {% for summary in summaries %}
                    <li class="list-group-item">
                        <h5>Episode ID: {{ summary.episode_id }}</h5>
                        <p>{{ summary.summary }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No summaries available.</p>
        {% endif %}
    </div>
{% endblock %}